
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // ----------------------------------------------------------------------
    // Helper Functions
    // ----------------------------------------------------------------------

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }
    
    function userExists() {
      return exists(/databases/$(database)/documents/users/$(request.auth.uid));
    }

    function getUserData() {
        return get(/databases/$(database)/documents/users/$(request.auth.uid)).data;
    }
    
    function isAdmin() {
      return isSignedIn() && 
             userExists() &&
             'role' in getUserData() &&
             (getUserData().role.lower() == 'admin');
    }

    function hasPermission(module, permission) {
        return isSignedIn() && 
               userExists() &&
               'permissions' in getUserData() &&
               module in getUserData().permissions &&
               (
                 (permission in getUserData().permissions[module] && getUserData().permissions[module][permission] == true) ||
                 isAdmin()
               );
    }

    function hasSubmodulePermission(module, submodule, permission) {
        return isSignedIn() && 
               userExists() &&
               'permissions' in getUserData() &&
               module in getUserData().permissions &&
               submodule in getUserData().permissions[module] &&
               (
                 (permission in getUserData().permissions[module][submodule] && getUserData().permissions[module][submodule][permission] == true) ||
                 isAdmin()
               );
    }

    // ----------------------------------------------------------------------
    // Collection Rules
    // ----------------------------------------------------------------------
    
    match /settings/{settingId} {
      allow read: if true;
      allow write: if isAdmin() || 
                   hasPermission('settings', 'update') ||
                   (settingId == 'info' && hasSubmodulePermission('settings', 'info', 'update')) ||
                   (settingId == 'donationInfo' && hasSubmodulePermission('settings', 'info', 'update')) ||
                   (settingId == 'branding' && hasSubmodulePermission('settings', 'app', 'update')) ||
                   (settingId == 'payment' && hasSubmodulePermission('settings', 'app', 'update'));
    }
    
    match /page_hits/{pageId} {
        allow read: if hasPermission('analytics', 'read') || isAdmin();
        allow write: if true; 
    }

    match /user_lookups/{lookupId} {
        allow read: if true;
        allow write: if isAdmin();
    }

    match /campaigns/{campaignId} {
      allow read: if true;
      allow create: if isSignedIn() && (isAdmin() || hasPermission('campaigns', 'create'));
      allow update: if isSignedIn() && (isAdmin() || hasPermission('campaigns', 'update') || hasSubmodulePermission('campaigns', 'ration', 'update') || hasSubmodulePermission('campaigns', 'summary', 'update'));
      allow delete: if isSignedIn() && (isAdmin() || hasPermission('campaigns', 'delete'));

      match /beneficiaries/{beneficiaryId} {
        allow read: if true;
        allow create: if isSignedIn() && (isAdmin() || hasSubmodulePermission('campaigns', 'beneficiaries', 'create'));
        allow update: if isSignedIn() && (isAdmin() || hasSubmodulePermission('campaigns', 'beneficiaries', 'update'));
        allow delete: if isSignedIn() && (isAdmin() || hasSubmodulePermission('campaigns', 'beneficiaries', 'delete'));
      }
      
      match /donations/{donationId} {
        allow read: if true;
        allow create: if isSignedIn() && (isAdmin() || hasSubmodulePermission('campaigns', 'donations', 'create'));
        allow update: if isSignedIn() && (isAdmin() || hasSubmodulePermission('campaigns', 'donations', 'update'));
        allow delete: if isSignedIn() && (isAdmin() || hasSubmodulePermission('campaigns', 'donations', 'delete'));
      }
    }
    
    match /leads/{leadId} {
      allow read: if true;
      allow create: if isSignedIn() && (isAdmin() || hasPermission('leads-members', 'create'));
      allow update: if isSignedIn() && (isAdmin() || hasPermission('leads-members', 'update') || hasSubmodulePermission('leads-members', 'summary', 'update'));
      allow delete: if isSignedIn() && (isAdmin() || hasPermission('leads-members', 'delete'));

       match /beneficiaries/{beneficiaryId} {
        allow read: if true;
        allow create: if isSignedIn() && (isAdmin() || hasSubmodulePermission('leads-members', 'beneficiaries', 'create'));
        allow update: if isSignedIn() && (isAdmin() || hasSubmodulePermission('leads-members', 'beneficiaries', 'update'));
        allow delete: if isSignedIn() && (isAdmin() || hasSubmodulePermission('leads-members', 'beneficiaries', 'delete'));
      }
      
      match /donations/{donationId} {
        allow read: if true;
        allow create: if isSignedIn() && (isAdmin() || hasSubmodulePermission('leads-members', 'donations', 'create'));
        allow update: if isSignedIn() && (isAdmin() || hasSubmodulePermission('leads-members', 'donations', 'update'));
        allow delete: if isSignedIn() && (isAdmin() || hasSubmodulePermission('leads-members', 'donations', 'delete'));
      }
    }
    
    match /donations/{donationId} {
      allow read: if true;
      allow create: if isSignedIn() || isAdmin();
      allow update: if isSignedIn() && (isAdmin() || isOwner(request.resource.data.uploadedById) || hasPermission('donations', 'update'));
      allow delete: if isSignedIn() && (isAdmin() || isOwner(resource.data.uploadedById) || hasPermission('donations', 'delete'));
    }
    
    match /beneficiaries/{beneficiaryId} {
      allow read: if true;
      allow create: if isSignedIn() && (isAdmin() || hasPermission('beneficiaries', 'create'));
      allow update: if isSignedIn() && (isAdmin() || hasPermission('beneficiaries', 'update'));
      allow delete: if isSignedIn() && (isAdmin() || hasPermission('beneficiaries', 'delete'));
    }

    match /users/{userId} {
      allow get: if isOwner(userId) || hasPermission('users', 'read') || isAdmin();
      allow list: if hasPermission('users', 'read') || hasPermission('settings', 'update') || isAdmin();
      allow create: if isOwner(userId) || hasPermission('users', 'create') || isAdmin();
      allow update: if isOwner(userId) || hasPermission('users', 'update') || isAdmin();
      allow delete: if (request.auth.uid != userId && hasPermission('users', 'delete')) || (isAdmin() && request.auth.uid != userId);
    }
  }
}
