
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // This is a completely public rule. Anyone can read, write, and delete.
      // Security is delegated to the application logic and Firestore rules.
      allow read, write: if true;
    }
  }
}
